---
layout: default
---


<div class="home">
    {%- if page.title -%}
      <h1 class="page-heading">
        <a href="{{site.baseurl}}/songs">←</a>
        {{ page.title }}</h1>
    {%- endif -%}
  </div>
  {%- if page.song_details -%}
  {{ page.song_details }}</h1>
  {%- endif -%}


  {% if page.artwork -%}
  <div class="artwork">
    <image src="{{site.baseurl}}/assets/img/{{page.artwork}}"></image>

  </div>

  {%- endif -%}


{% if page.content -%}  
<div class="recording_details">
{{ content | markdownify}}
</div>
{%- endif -%}

<br/>

{% if page.recording_details -%}
  <h2>Recording details</h2>
  {{page.recording_details | markdownify | newline_to_br}}
{%- endif -%}
